<h2 class="text-center">@ViewBag.Message</h2>

<div class="centralizar">
    <form action="/veiculos/salvar" method="post" class="text-right">

        <div>
            <label for="nome" class="col-sm-4 col-form-label espacamento">Marca:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="nome" name="nome" />
            </div>
        </div>

        <div>
            <label for="modelo" class="col-sm-4 col-form-label espacamento">Modelo:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="modelo" name="modelo" />
            </div>
        </div>

        <div>
            <label for="fabricacao" class="col-sm-4 col-form-label espacamento">Ano:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="fabricacao" name="fabricacao" />
            </div>
        </div>

        <div>
            <label for="cor" class="col-sm-4 col-form-label espacamento">Cor:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="cor" name="cor" />
            </div>
        </div>

        <div>
            <label for="combustivel" class="col-sm-4 col-form-label espacamento">Combustivel:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="combustivel" name="Combustivel" />
            </div>
        </div>

        <div>
            <label for="automatico" class="col-sm-4 col-form-label espacamento">Transmissão:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="automatico" name="automatico" />
            </div>
        </div>

        <div>
            <label for="valor" class="col-sm-4 col-form-label espacamento">Valor:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="valor" name="valor" />
            </div>
        </div>

        <br/>    
        <div class="buttonSave">
            <button class="btn btn-success " type="submit">Salvar</button>
        </div>
    </form>
</div>


